In [4]:
import pandas as pd
import numpy as np

# load the data
data = pd.read_csv("./data-small-more-patterns.csv")

# randomly select rows from the data
new_data = data.sample(n=1000, replace=True)

# remove duplicates
new_data = new_data.drop_duplicates()

# save the new data to a CSV file
new_data.to_csv("new_data.csv", index=False)

In [5]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
%matplotlib inline

mccs = pd.read_csv('./new_data.csv')
mccs.head()

,Age Group,Marital Status,Day,Gender,City,Avg-7832,Avg-5411,Avg-5812,Avg-7032,Avg-5983,Avg-4111,Avg-5999,Avg-5691,Avg-4814,Avg-5621,Target-MCC1
0,40,Single,Weekday,M,ISL,5,0,0,19,14,38,0,0,4,20,4111
1,40,Married,Weekend,F,KHI,9,2,5,10,29,12,15,5,13,0,5983
2,20,Single,Weekend,M,KHI,10,2,0,58,25,5,0,0,0,0,7032
3,30,Married,Weekday,F,KHI,0,22,10,3,3,5,7,48,0,2,5691
4,30,Married,Weekday,F,KHI,0,55,0,0,25,0,10,10,0,0,5411

In [6]:
mccs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 166 entries, 0 to 165
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age Group       166 non-null    int64
 1   Marital Status  166 non-null    object
 2   Day             166 non-null    object
 3   Gender          166 non-null    object
 4   City            166 non-null    object
 5   Avg-7832        166 non-null    int64
 6   Avg-5411        166 non-null    int64
 7   Avg-5812        166 non-null    int64
 8   Avg-7032        166 non-null    int64
 9   Avg-5983        166 non-null    int64
 10  Avg-4111        166 non-null    int64
 11  Avg-5999        166 non-null    int64
 12  Avg-5691        166 non-null    int64
 13  Avg-4814        166 non-null    int64
 14  Avg-5621        166 non-null    int64
 15  Target-MCC1     166 non-null    int64
dtypes: int64(12), object(4)
memory usage: 20.9+ KB